<cdk-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" *ngIf="ready">

    <!---------------------------------------------------------------------------
        columns definitions
     --------------------------------------------------------------------------->
    <ng-container *ngFor="let col of tableConfiguration.columns; let i = index" [cdkColumnDef]="col.id">

        <!-- header cells definitions -->
        <column-header
            *cdkHeaderCellDef
            [textColumn]="col"
            [withSelection]="withSelection"
            [isFirst]="i === 0"
            [isSorted]="isSorted(col.id)"
            [areAllSelected]="areAllSelected"
            [style.width]="col.width || col.autoWidth"
            (toggleAll)="toggleAll()"
        ></column-header>

        <!-- column cells definitions -->
        <column-cell
            *cdkCellDef="let row"
            [row]="row"
            [textColumn]="col"
            [withSelection]="withSelection"
            [isFirst]="i === 0"
            [style.width]="col.width || col.autoWidth"
        >
            <!-- text column block -->
            <div
                *ngIf="!col.custom; else customColumnBlock"
                class="cdk-line-clamp"
                [title]="row[col.id]"
                [style.text-align]="col.alignContent"
            >
                {{ row[col.id] }}
            </div>

            <!-- custom column block -->
            <ng-template #customColumnBlock>
                <ng-container *ngTemplateOutlet="templates[col.id]; context: { $implicit: row }"></ng-container>
            </ng-template>

        </column-cell>

    </ng-container>

    <!---------------------------------------------------------------------------
        Default Table Rows
     --------------------------------------------------------------------------->
    <cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></cdk-header-row>
    <cdk-row
        *cdkRowDef="let row; columns: displayedColumns;"
        (click)="rowAction(row)"
        class="cdk-status"
        style="--cdk-row-status-color: {{ row.STATUS_COLOR }};"
    ></cdk-row>

    <!---------------------------------------------------------------------------
        Group Rows
        (will be used instead of the default row definition above when the `when` parameter has a true value)
     --------------------------------------------------------------------------->
    <cdk-row
        *cdkRowDef="let row; columns: visibleGroupColumnsIds; when: isGroup"
        class="cdk-group-header"
        mat-row
        (click)="toggleGroup(row)"
    ></cdk-row>

    <!-- Group cells -->
    <ng-container
        *ngFor="let groupCol of displayedGroupColumns; let i = index"
        [cdkColumnDef]="groupCol.columnId"
    >
        <group-column-cell
            *cdkCellDef="let group"
            [group]="group"
            [groupCol]="groupCol"
            [isFirst]="i === 0"
            [style.width]="groupCol.width"
        ></group-column-cell>
    </ng-container>

</cdk-table>
