<cdk-table [dataSource]="dataSource">

    <!-- Text Columns with or without selection -->
    <ng-container *ngFor="let col of textColumns; let i = index" [cdkColumnDef]="col.columnDef">
        <cdk-header-cell *cdkHeaderCellDef [style.width]="col.width" [style]="col?.headerStyles">
            <div class="cdk-cell-wrapper">
                <!-- Master Columns Selection -->
                <div *ngIf="withSelection && i === 0">
                    <mat-checkbox
                        (change)="$event ? toggleAllRowsSelection() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        class="cdk-mx"
                    >
                    </mat-checkbox>
                </div>
                <!-- Column Label -->
                <div
                    class="cdk-line-clamp"
                    [title]="col.label"
                    [style.text-align]="col.position"
                >
                    {{ col.label }}
                </div>
            </div>
        </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" [style.width]="col.width" [style]="col?.cellStyles">
            <div class="cdk-cell-wrapper">
                <!-- Column Selection -->
                <div *ngIf="withSelection && i === 0">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="toggleRowSelection(row)"
                        [checked]="selection.isSelected(row)"
                        class="cdk-mx"
                    >
                    </mat-checkbox>
                </div>
                <!-- Column Value - use pipes (no expressions or function calls as they run on every change detection again) -->
                <div class="cdk-line-clamp"
                     [title]="row | action: col.getValue"
                     [style.text-align]="col.position"
                >
                    {{ row | action: col.getValue }}
                </div>
            </div>
        </cdk-cell>
    </ng-container>

    <!-- External Columns -->
    <ng-content></ng-content>

    <!-- Default Table Rows -->
    <cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></cdk-header-row>
    <cdk-row
        *cdkRowDef="let row; columns: displayedColumns;"
        (click)="rowAction(row)"
        class="cdk-status"
        style="--cdk-row-status-color: {{ row.__rowStatusColor__ }};"
    ></cdk-row>

    <!-- Group Rows : will be used instead of the default row definition above when the `when` parameter has a true value -->
    <cdk-row
        mat-row
        *cdkRowDef="let row; columns: groupColumns; when: isGroup"
        class="cdk-group-header"
        style="--cdk-group-row-spacing: {{ tableOptions.groupSpacing }};"
        (click)="toggleGroup(row)"
    ></cdk-row>

    <!-- Group header cells -->
    <ng-container
        *ngFor="let groupCol of tableOptions.groupColumns; let i = index"
        [cdkColumnDef]="'__' + groupCol.name + '__'"
    >
        <cdk-cell [style.width]="groupCol.width" *cdkCellDef="let group">
            <div class="cdk-cell-wrapper">
                <!-- Expand/Collapse Icon -->
                <div class="cdk-mr" *ngIf="i === 0">
                    <mat-icon *ngIf="!group.isReduced">expand_less</mat-icon>
                    <mat-icon *ngIf="group.isReduced">expand_more</mat-icon>
                </div>

                <!-- Data -->
                <!-- [title]="[group.data, group.groupData] | action: groupCol.labelFn" -->
                <div
                    [style.text-align]="groupCol.position"
                    class="cdk-truncate"
                >
                    {{ [group.data, group.groupData] | action: groupCol.labelFn }}
                </div>
            </div>
        </cdk-cell>
    </ng-container>

</cdk-table>
