<div class="et-table" *ngIf="ready">

    <!-- Header Row -->
    <div class="et-header-row">
        <column-header
            *ngFor="let col of tableService.displayedColumns; let i = index"
            [textColumn]="col"
            [withSelection]="withSelection"
            [isFirst]="i === 0"
            [sortMode]="isSorted(col.id)"
            [style.width]="col.width || col.autoWidth"
            (toggleAll)="toggleAll()"
            (sort)="onSort($event)"
        ></column-header>
    </div>

    <!-- Rows -->
    <ng-container *ngFor="let data of displayedData">

        <!-- Data Row -->
        <ng-container *ngIf="!data.isGroup; else groupRow">
            <div
                class="et-data-row"
                style="--data-row-status-color: {{ data.STATUS_COLOR }}"
                (click)="rowAction(data)"
            >
                <column-cell
                    *ngFor="let col of tableService.displayedColumns; let i = index"
                    [row]="data"
                    [textColumn]="col"
                    [withSelection]="withSelection"
                    [isFirst]="i === 0"
                    [style.width]="col.width || col.autoWidth"
                >
                    <!-- text column block -->
                    <div
                        *ngIf="!col.custom; else customColumnBlock"
                        class="et-line-clamp"
                        [title]="data[col.id]"
                        [style.text-align]="col.alignContent"
                    >
                        {{ data[col.id] }}
                    </div>

                    <!-- custom column block -->
                    <ng-template #customColumnBlock>
                        <ng-container
                            *ngTemplateOutlet="templates[col.id]; context: { $implicit: data }"></ng-container>
                    </ng-template>

                </column-cell>
            </div>
        </ng-container>

        <!-- Group Row -->
        <ng-template #groupRow>
            <div
                class="et-group-row"
                (click)="toggleGroup(data)"
            >
                <group-column-cell
                    *ngFor="let groupCol of groupingService.displayedGroupColumns; let i = index"
                    [group]="data"
                    [groupCol]="groupCol"
                    [isFirst]="i === 0"
                    [style.width]="groupCol.width"
                ></group-column-cell>
            </div>
        </ng-template>

    </ng-container>

</div>
