<cdk-cell [style]="textColumn?.cellStyles">
    <div class="cdk-cell-wrapper">

        <!-- Column Selection -->
        <div *ngIf="withSelection && isFirst">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="toggle(row)"
                [checked]="selection.isSelected(row)"
                class="cdk-mx"
            >
            </mat-checkbox>
        </div>

        <!-- column content -->
        <ng-content></ng-content>

    </div>
</cdk-cell>
