<div class="header-cell"
    [mat-sort-header]="textColumn.id"
    [style]="textColumn?.headerStyles"
>
    <div class="cell-wrapper">
        <!-- Master Columns Selection -->
        <div *ngIf="withSelection && isFirst">
            <mat-checkbox
                (change)="$event ? toggleAll() : null"
                [checked]="selection.hasValue() && areAllSelected"
                [indeterminate]="selection.hasValue() && !areAllSelected"
                class="mx"
            >
            </mat-checkbox>
        </div>

        <!-- Column Label -->
        <div
            class="line-clamp"
            [title]="textColumn.label"
            [style.text-align]="textColumn?.alignContent"
        >
            {{ textColumn.label }}
        </div>

        <!-- sort mode -->
        <div class="ml">
            <ng-container [ngSwitch]="isSorted">
                <mat-icon *ngSwitchCase="1">expand_less</mat-icon>
                <mat-icon *ngSwitchCase="-1">expand_more</mat-icon>
            </ng-container>
        </div>
    </div>
</div>
